{% extends 'base.html.twig' %}

{% block title %}symRes - Mes Clients{% endblock %}
    
{% block body %}
    <div class="container mt-4">
        <h1>Listes des clients</h1>
        <div class="container" style="width:500px">
            <a href="{{ path('client_new') }}" class="btn btn-primary d-flex justify-content-center mt-4">
                <i class="fas fa-user-plus mt-1 m-2"> </i>   créer un nouveau
            </a>
        </div>


        <div class="count mt-4 badge bg-dark">
            Total: {{ clients.getTotalItemCount }} clients.
        </div>
        <table class="table table-hover table-striped nowrap" id="cltTableau" style="margin-top: -5px; width:100%">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Numero</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Tel</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr class="table-info">
                    <th scope="row">{{client.id}}</th>
                    <td>{{client.nom}}</td>
                    <td>{{client.prenom}}</td>
                    <td>{{client.tel}}</td>
                    <td><a href="{{ path('client_edit',{id: client.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a>  <a href="{{ path('client_delete',{id: client.id}) }}" class="btn btn-danger" onclick="return confirm('êtes-vous sûr de vouloir supprimer {{ client.nom }} {{ client.prenom }}?')"><i class="fa fa-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>          
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function(){
            var table = $('#cltTableau').DataTable({
                responsive:true,
                //traduction en francais stockees dans json
                language: {
                    url: "/js/fr-FR.json"
                },
                pagingType: "simple_numbers",
                lengthMenu:[5,10,15,20,25],
            })
            new $.fn.dataTable.FixedHeader( table );
        })
    </script>
{% endblock %}

