<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ path('home_index') }}">Gestion</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ path('home_index') }}">Accueil
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <!--cette condition sert a securiser la page pour que seul l'utilisateur connecter peut modifier -->
        {% if app.user %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('salle_index') }}">Salles
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('client_index') }}">Clients
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('reservation_index') }}">Reservations
              </a>
            </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if app.user %}
          <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" id="accountDropdownLink" style="margin-right:40px">
                <i class="fas fa-user"> </i>  {{app.user.firstName}} {{app.user.lastName}}
              </a>

              <div class="dropdown-menu dropdown-menu-right mb-5" aria-labelledby="accountDropdownLink">
                <a href="{{ path('account_profil') }}" class="dropdown-item">Modifier mon profil</a>
                <a href="{{ path('account_password') }}" class="dropdown-item">Modifier mot de passe</a>
                <div class="dropdown-divider"></div>
                <a href="{{ path('account_logout') }}" class="dropdown-item "> <i class="fa fa-sign-out"> </i> Déconnexion</a>
              </div>
          </li>
        {% else %}
          <li class="nav-item">
            <a href="{{ path('account_register') }}" class="nav-link">Inscription</a>
          </li>
          <li class="nav-item">
            <a href="{{ path('account_login') }}" class="nav-link">Connexion</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
