{% extends "base.html.twig" %}

{% block title %}Edition d'une salle{% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container" style="width:500px;">
                
        <a href="{{ path('salle_index') }}" class="btn btn-primary d-flex justify-content-center mt-4">
            revenir aux listes
        </a>
        <h2 class="mt-4">Modification salle numero: {{salle.numero}}</h2>
        <hr>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-dark mt-3">Enregistrer</button>
        {{ form_end(form) }}
        
    </div>
{% endblock %}


