{% extends 'base.html.twig' %}

{% block title %}symRes - Mes Salles{% endblock %}
    
{% block body %}
    <div class="container mt-4">
        <h1>Listes des salles</h1>
        <div class="container" style="width:500px">
            <a href="{{ path('salle_new') }}" class="btn btn-primary d-flex justify-content-center mt-4">
                créer un nouveau
            </a>
        </div>


        <div class="count mt-4 badge bg-dark">
            Total: {{ salles.getTotalItemCount }} salles.
            </div>
        <table class="table table-hover" style="margin-top: -5px">
            <thead>
                <tr class="table-dark">
                <th scope="col">Numero</th>
                <th scope="col">Designation</th>
                <th scope="col">Capacite</th>
                <th scope="col">Caracteristique</th>
                <th scope="col">Remarque</th>
                <th scope="col">Etat</th>
                <th scope="col">Frais</th>
                <th scope="col">Edition</th>
                <th scope="col">Suppression</th>
                </tr>
            </thead>
            <tbody>
            {% for salle in salles %}
                <tr class="table-primary">
                    <th scope="row">{{salle.numero}}</th>
                    <td>{{salle.designation}}</td>
                    <td>{{salle.capacite}}</td>
                    <td>{{salle.caracteristique}}</td>
                    <td>{{salle.rmq}}</td>
                    <td>{{salle.etat}}</td>
                    <td width="100px">{{salle.frais}} Ar</td>
                    <td><a href="{{ path('salle_edit',{id: salle.id}) }}" class="btn btn-primary">Modifier</a></td>
                    <td><a href="{{ path('salle_delete',{id: salle.id}) }}" class="btn btn-danger">Supprimer</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation d-flex justify-content-center mt-4 ">
            {{ knp_pagination_render(salles) }}
        </div>

            
    </div>
{% endblock %}
