{% extends "base.html.twig" %}

{% block title %}Modifier une réservation {% endblock %}

{% form_theme form _self %}

{% block body %}
    <div class="container" id="editres" style="width:500px;">
                
        <a href="{{ path('client_index') }}" class="btn btn-primary d-flex justify-content-center mt-4">
            revenir aux listes
        </a>
        <h2 class="mt-4">Modification réservation numero {{reservation.id}} : {{reservation.salle}}</h2>
        <hr>
        
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-dark mt-3">
        <i class="bag-check"></i>
        Enregistrer</button>
        {{ form_end(form) }}
        
    </div>
{% endblock %}


