{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}
{% block css %}
    <style>
        .pagination{
            font-size: 0px;
        }
        .dataTables_filter{
            margin-bottom: 5px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container mt-4 ">
        <h1 style="align:center" >Listes des Reservations</h1>
        <div class="container" style="width:500px">
            <a href="{{ path('reservation_new') }}" class="btn btn-primary d-flex justify-content-center mt-4 ">
                <i class="fas fa-plus mt-1 m-2"></i> créer un nouveau
            </a>
    </div>


        <div class="count mt-4 badge bg-dark">
            Total: {{ reservations.getTotalItemCount }} réservations.
            </div>
        <table class="table table-hover table-responsive" id="resTableau" style="margin-top: 5px">
            <thead>
                <tr class="table-dark">
                <th scope="col">Numero</th>
                <th scope="col">Client</th>
                <th scope="col">Salle</th>
                <th scope="col">Date de Reservation</th>
                <th scope="col">Date Debut Occupation</th>
                <th scope="col">Date fin Occupation</th>
                <th scope="col">Montant</th>
                <th scope="col">statut Reservation</th>
                <th scope="col">Modifier</th>
                <th scope="col">supprimer</th>
                </tr>
            </thead>
            <tbody>
            {% for reservation in reservations %}
                <tr class="table-warning">
                    <th scope="row" width="50px">{{reservation.id}}</th>
                    <td width="100px">{{reservation.client}}</td>
                    <td width="100px">{{reservation.salle}}</td>
                    <td>{{reservation.createdAt|date('d/m/Y')}}</td>
                    <td>{{reservation.startDate|date('d/m/Y')}}</td>
                    <td>{{reservation.endDate|date('d/m/Y')}}</td>
                    <td width="100px">{{reservation.montant}} Ar</td>
                    <td width="50px" style="color= "{% if reservation.statutReservation == "Réservé" %}green{% else %}red{% endif %}>{{reservation.statutReservation}}</td>
                    <td><a href="{{ path('reservation_edit',{id: reservation.id}) }}" class="btn btn-primary"><i class="fas fa-edit"></i></a></td>
                    <td><a href="{{ path('reservation_delete',{id: reservation.id}) }}" class="btn btn-danger" onclick="return confirm('êtes-vous sûr de vouloir supprimer la reservation {{ reservation.id }}?')"><i class="fas fa-trash"></i></a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation d-flex justify-content-center mt-4 ">
            {{ knp_pagination_render(reservations) }}
        </div>

            
    </div>
{% endblock %}
{% block js %}
    <script>
        $(document).ready(function(){
            $('#resTableau').DataTable({

            })
        })
    </script>
{% endblock %}
